.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .block-link-back {
    
    .link-back {
      background-color: #04818B;
      text-transform: lowercase;
    }
  }
}